<!DOCTYPE html>
    <html>
        <head>
            <title>Index | Home</title>
        </head>

        <body>
           <h1>Pagina Homeee!! </h1>
           <!-- 

            Java Script junto com Html trabalahndco om template Engine 
            Ejs Atua da mesma forma que o PHP 
           -->

            <% var texto = "Trabalhando com EJS";
            
            Alert.dialog "kakaja"
            %>


           <p> <%=texto%>  </p>
        </body>

    </html>